h1 {
    color:#130900; 
    font-size:80px;
    font-family:Black mango; 
    font-weight:900; 
    text-transform:uppercase;
    text-align:center; 
}

h2{ 
    color:#130900; 
    font-size:25px;
    font-family:Montserrat; 
    font-weight:400; 
    text-transform:uppercase;
    text-align:center; 
}


p{
    color:#130900; 
    font-size:15px;
    font-family:Montserrat; 
    font-weight:400; 
    text-align:center; 
}


body{
    background:linen;
    text-align:center; 
    margin:15%;
    margin-top:8%;
    margin-bottom:8%;
  
  }